.View {
    /* width: 640px;
    height:390px; */
    width: 1280px;
    height:780px;
    margin:0 auto;
    background-image: url(TPU_background.png);
    background-repeat: no-repeat;
    background-size:100% 100%;  
}