.StatusBar {
    height:45px;    
    /*width: 638px;*/
    width: 1278px;
    margin:0 auto;
    border: 1px solid black;
}

.StatusBar table{
    border-collapse:collapse;    
}

.StatusBar td{
    width:400px;
    padding:0px 5px;
}